<main style="overflow: hidden;">
  <header style="display: flex;justify-content: end;padding: 1rem;gap: 0.2rem;">
    <select (change)="toggleTheme($event)">
      <option *ngFor="let theme of themesList" [value]="theme" [selected]="theme === currentTheme">
        {{ theme | capitalize }}
      </option>
    </select>

    <select (change)="onLanguageChange($event)">
      <option value="en" [selected]="currentLang() === 'en'">{{ 'lang_es' | translate }}</option>
      <option value="es" [selected]="currentLang() === 'es'">{{ 'lang_en' | translate }}</option>
    </select>
    
  </header>

  <h1 style="text-align: center;">{{"title" | translate}} <lucide-icon strokeWidth="1.2px" name="pyramid"></lucide-icon></h1>

  <div style="width: 100%;justify-content: center;align-items: center;display: flex;padding: 0.5px;">
    <div
      style="border: 1px solid var(--border);padding: 1rem;border-radius: 0.5rem;background-color: var(--bg-secondary);">
      <p> - {{ 'starter_box_1' | translate }} <lucide-icon strokeWidth="1.2px" name="app-window"></lucide-icon></p>
      <p> - {{ 'starter_box_2' | translate }} <lucide-icon strokeWidth="1.2px" name="squirrel"></lucide-icon></p>
      <p> - {{ 'starter_box_3' | translate }} <lucide-icon strokeWidth="1.2px" name="folder-kanban"></lucide-icon></p>
      <p> - {{ 'starter_box_4' | translate }} <lucide-icon strokeWidth="1.2px" name="database"></lucide-icon></p>
      <p> - {{ 'starter_box_5' | translate }} <lucide-icon strokeWidth="1.2px" name="earth"></lucide-icon></p>
      <p> - {{ 'starter_box_6' | translate }} <lucide-icon strokeWidth="1.2px" name="siren"></lucide-icon></p>
      <p> - {{ 'starter_box_7' | translate }} <lucide-icon strokeWidth="1.2px" name="bell"></lucide-icon></p>
    </div>
  </div>

 <div style="display: flex;width: 100%;gap: 5px;justify-content: center;margin-top: 10px;">
  <button (click)="showSuccess()">{{ 'button_success' | translate }}</button>
  <button (click)="showError()">{{ 'button_error' | translate }}</button>
 </div>


  <footer style="bottom: 0;position: fixed;width: 100%;background-color: var(--primary);">
    <div style="justify-content: space-between;display: flex;margin-left: 1rem;margin-right: 1rem;">
      <p>{{ 'now_using' | translate }} {{ currentTheme | capitalize }} {{ 'theme' | translate }}</p>
      <p>{{'angular_version' | translate}}: {{ angularVersion }}</p>
    </div>
  </footer>

</main>


<section>
  <router-outlet />
</section>